# Windows CRLF endings expected on server
* text eol=crlf

# Explicitly set Unix LF endings for .sh files
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary